@model ErrorViewModel
@{
    ViewData["Title"] = "Erreur";
}

<h2 class="text-danger">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
    </svg> @ViewData["Title"]
</h2>
<p>
    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <strong>
            Message(s) d'erreur(s) :
        </strong>
        <br />
        var errors = Model.Message.Split(';');
        <ul class="text-danger">
            @foreach (var error in errors)
            {
                if (!string.IsNullOrWhiteSpace(error))
                {
                    <li>@error</li>
                }
            }
        </ul>
    }
</p>
@*@if (User.IsInRole(ConstantHelper.ROLE_NAME_SUPER_ADMIN))
    {
        <p>
            <i>For more details checks the logs files <strong>@LoggingOptions.DefaultLogFileName</strong> at<strong> wwwroot\logs </strong> folder.</i>
        </p>
    }
    else
    {
        <p>
            Pour plus d'information, veuillez contacter l'administrateur.
        </p>
    }*@
<p>
    Pour plus d'information, veuillez contacter l'administrateur.
</p>
<a href='javascript:history.go(-1)'>Retour à la page précédente</a>