@page
@model LoginModel2

@{
    ViewData["Title"] = "KREMIS - Log in";
}
<div id="logreg-forms">
    <h2 class="h3 mb-3 font-weight-normal text-white bg-primary p-1" style="text-align:center;"><partial name="_IconHeader" /> Connexion</h2>
    <form id="account" method="post">
        <input asp-for="Input.UserName" placeholder="Username..." class="mb-1 form-control" />
        <input asp-for="Input.Password" placeholder="Password..." type="password" class="form-control" />
        <button type="submit" class="btn btn-sm btn-success btn-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z" />
            </svg> Connexion
        </button>
        <br />
        <a id="forgot-password" asp-page="./ForgotPassword" class="pb-2 text-info">Mot de passe oublié ?</a>
        @*<button type="submit" asp-page-handler="SendVerificationEmail" class="btn-link text-info"
                style="padding:0px;margin:0px;border:0px;background-color:transparent">
            Renvoyer l'email de confirmation
        </button>*@
        <div asp-validation-summary="All" class="text-danger"></div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
