@model LandTitleViewModel

<h5 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-info">Documents liés au titre</span>
</h5>
<ul class="list-group mb-3">
    @foreach (var document in Model.LandTitleDocuments)
    {
        <li class="list-group-item d-flex justify-content-between">
            <div>
                <h6 class="my-0 text-black">
                    <small>
                        <a href="/Admin/LandTitle/DiplayDocument?documentUrl=@document.DocumentUrl">
                            @document.DocumentUrl
                        </a>
                    </small>
                </h6>
                <small class="text-muted">@document.DocumentType.Name</small>
            </div>
            <span>
                <a onclick="showInPopup('@Url.Action("AddOrEditDocument","LandTitle",new {id=@document.Id, landTitleId=@Model.LandTitle.Id},Context.Request.Scheme)','Modification d\'un document de titre foncier')" class="btn btn-sm btn-success text-white" style="cursor:pointer">
                    <partial name="_IconEdit" />
                </a>
                <a onclick=DeleteDocument("/Admin/LandTitle/DeleteDocument/@document.Id") class="btn btn-sm btn-danger text-white" style="cursor:pointer">
                    <partial name="_IconDelete" />
                </a>
            </span>
        </li>
    }
    <li class="list-group-item d-flex justify-content-between bg-light">
        <a onclick="showInPopup('@Url.Action("AddOrEditDocument","LandTitle",new {id=0, landTitleId=@Model.LandTitle.Id},Context.Request.Scheme)','Ajout d\'un document de titre foncier')" class="btn btn-sm btn-success text-white" style="cursor:pointer">
            <partial name="_IconCreate" />
        </a>
    </li>
</ul>
