@model CommissionPaymentViewModel

<form method="post">
    <input type="hidden" asp-for="CommissionPayment.Id" />    
    <div class="input-group-sm col-7 pt-4">
        <div class="form-group row mt-n2">
            <div class="input-group-sm col-4">
                Référence
            </div>
            <div class="input-group-sm col-4">
                <input asp-for="CommissionPayment.Number" class="form-control font-weight-bold" disabled />
            </div>
        </div>
        <div class="form-group row mt-n2">
            <div class="input-group-sm col-4">
                Date
            </div>
            <div class="input-group-sm col-4">
                <input asp-for="CommissionPayment.Date" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row mt-n2">
            <div class="input-group-sm col-4">
                Nom de l'apporteur
            </div>
            <div class="input-group-sm col-4">
                <input asp-for="CommissionPayment.InvoiceHeader.BusinessPartner.Name" class="form-control font-weight-bold" disabled />
            </div>
        </div>
        <div class="form-group row mt-n2">
            <div class="input-group-sm col-4">
                Contact de l'apporteur
            </div>
            <div class="input-group-sm col-4">
                <input asp-for="CommissionPayment.InvoiceHeader.BusinessPartner.PhoneNumber" class="form-control" disabled />
            </div>
        </div>
        <div class="form-group row mt-n2">
            <div class="input-group-sm col-4">
                Montant payé
            </div>
            <div class="input-group-sm col-4">
                <input asp-for="CommissionPayment.AmountPaid" class="form-control text-right font-weight-bold" asp-format="{0:N0}" disabled />
            </div>
        </div>
        <div class="form-group row mt-n2">
            <div class="input-group-sm col-4">
                Mode de paiement
            </div>
            <div class="input-group-sm col-4">
                <input asp-for="CommissionPayment.PaymentMode.DisplayText" class="form-control" disabled />
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.CommissionPayment.TransactionNumber))
        {
            <div class="form-group row mt-n2">
                <div class="input-group-sm col-4">
                    N° de transaction
                </div>
                <div class="input-group-sm col-4">
                    <input asp-for="CommissionPayment.TransactionNumber" class="form-control" disabled />
                </div>
            </div>
        }
        <hr />
        <div class="form-group row mt-n2">
            <div class="input-group-sm col-4">
                N° de la facture
            </div>
            <div class="input-group-sm col-4">
                <input asp-for="CommissionPayment.InvoiceHeader.Number" class="form-control font-weight-bold" disabled />
            </div>
        </div>
        <div class="form-group row mt-n2">
            <div class="input-group-sm col-4">
                Montant net à payer
            </div>
            <div class="input-group-sm col-4">
                <input asp-for="CommissionPayment.InvoiceHeader.CommissionToPay" class="form-control text-right" asp-format="{0:N0}" disabled />
            </div>
        </div>
        <div class="form-group row mt-n2">
            <div class="input-group-sm col-4">
                Montant avancé
            </div>
            <div class="input-group-sm col-4">
                <input asp-for="CommissionPayment.InvoiceHeader.CommissionPaid" class="form-control text-right" asp-format="{0:N0}" disabled />
            </div>
        </div>
        <div class="form-group row mt-n2">
            <div class="input-group-sm col-4">
                Montant restant à payer
            </div>
            <div class="input-group-sm col-4">
                <input asp-for="CommissionPayment.InvoiceHeader.CommissionRemainingToPay" class="form-control text-right font-weight-bold" asp-format="{0:N0}" disabled />
            </div>
        </div>
    </div>
</form>
