@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Modifier votre mot de passe";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">&nbsp;@ViewData["Title"]</h1>
    </div>
    <div class="p-4 border rounded bg-gradient-light">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <div class="input-group-sm col-10">
                    Ancien mot de passe
                </div>
                <div class="input-group-sm col-12">
                    <input asp-for="Input.OldPassword" class="form-control" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="input-group-sm col-10">
                    Nouveau mot de passe
                </div>
                <div class="input-group-sm col-12">
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="input-group-sm col-10">
                    Confirmez le mot de passe
                </div>
                <div class="input-group-sm col-12">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="input-group-sm col-12">
                    <div class="row">
                        <div class="input-group-sm col">
                            <button type="submit" class="btn btn-sm btn-success form-control">
                                <partial name="_IconSave" />&nbsp;Enregistrer
                            </button>
                        </div>
                        <div class="input-group-sm col">
                            <a asp-area="Home" asp-controller="Home" asp-action="Index" class="btn btn-sm btn-outline-danger form-control">
                                <partial name="_IconReturn" />&nbsp;Quitter
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}